.hero-img {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}

.hero-img::before {
    content: "";
    background: url("https://images.unsplash.com/photo-1535957998253-26ae1ef29506?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8b2ZmaWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-img h1 {
    font-size: 2.4rem;
}

.hero-img p {
    font-size: 1.4rem;
    text-align: center;

}

.card h3{
    font-size: 1.4rem;
    padding: 1rem;
}
.card p{
    padding: 10px 0;
}

.bar{
    border-bottom: 1px solid #eee; 
    width:10%;
    margin:1.5rem auto;
    display: block;

}

.btc{
    font-size: 4rem;
    font-weight: 600;
    padding:1rem 0;

}

.btn{
    display: block;
    width:80%;
    margin:2rem auto;
}
@media screen and (max-width:640px) {
    .hero-img h1 {
        font-size: 2rem;
    }
}